[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "third_party/freetype2"]
	path = third_party/freetype2
	url = https://github.com/freetype/freetype.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "third_party/msdfgen"]
	path = third_party/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/bzip2"]
	path = third_party/bzip2
	url = https://github.com/libarchive/bzip2.git
[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
